.frezerniy {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.frezerniy__title {
    padding-bottom: 20px;
    font-size: 35px;
}

.frezerniy__type__first__wrap {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}