.card {
    border: 1px solid black;
    padding: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__type {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card img{
    width: 250px;
}